
.featured-mentors {
  margin-top: 5rem;
  padding: 40px 20px;
}
  
.mentor-cards-wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}