
.footer {
    background-color: #343a40; /* Dark footer background */
    margin-top: 80px;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }