
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height for the layout */

  /* background-color: antiquewhite; */
  background-color: rgb(247, 236, 222);
}

main {
  flex: 1; /* Allow the main section to grow and take available space */
  /* padding: 20px; */
}

/* Headings */
h1, h2, h3 {
  color: #343a40; /* Dark text color for contrast */
}

/* Specific styles for each page */
.home {
  text-align: center; /* Center text for the home page */
}

